[Desktop Entry]
Type=Application
Name=Political Analysis
Comment=Analyser norske offentlige data
Exec=political-analysis-gui
Icon=political-analysis
Terminal=false
Categories=Office;Education;
StartupNotify=true
Keywords=politikk;analyse;SSB;data;statistikk;
